@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-weight: 300;
  font-size: 1em;
  font-family: "Rokkitt", serif;
}
.grid-container {
  height: 100%;
  border: solid 2px black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20191113/pngtree-abstract-wallpaper-desktop-design-image_321813.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* -----------------navbar Content---------------------*/
/* -----------------navbar Content---------------------*/
/* -----------------navbar Content---------------------*/
.navbar {
  background: transparent;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li {
  display: inline;
}
.navIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
}
.navbar ul:hover {
  animation: pop 10s ease-in;
}
.navIcon:hover {
  animation: popIcon 10s ease-in;
}

@keyframes popIcon {
  0%,
  100% {
    transform: scale(1.2, 1.2);
  }
}
@keyframes pop {
  0%,
  100% {
    transform: scale(1.2, 1.2);
  }
}
.github,
.linkedin,
.email {
  box-shadow: 10px 10px 30px black;
}
/* -----------------midbox Content---------------------*/
/* -----------------midbox Content---------------------*/
/* -----------------midbox Content---------------------*/
.midBox {
  background: transparent;
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* -----------------profilebox Content---------------------*/
/* -----------------profilebox Content---------------------*/
/* -----------------profilebox Content---------------------*/
.profileBox {
  border: solid 2px rgb(255, 252, 252);
  background-color: white;
  box-shadow: 10px 10px 20px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.profile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
/* -----------------footer Content---------------------*/
/* -----------------footer Content---------------------*/
/* -----------------footer Content---------------------*/
.footer {
  background: transparent;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.switchHome {
  background: rgb(15, 15, 15);
  width: 50px;
  height: 10px;
  margin-right: 10px;
  border-radius: 100px;
  cursor: pointer;
}
.switchHome:hover {
  background: rgb(24, 24, 24);
}
/* 
/* -----------------extra Content---------------------*/
/* -----------------extra Content---------------------*/
/* -----------------extra Content---------------------*/
